.moduletable-contato h3 {
    text-align: center;
    font-size: 30px;
    color: #eac100;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

#contact-social-footer {
    display: table;
    margin: auto;
}

#contact-social-footer p {
    text-align: center;
}

#contact-social-footer p a {
    color: #FFF;
    text-decoration: none;
}

#contact-social-footer p a:hover {
    color: #d8d9dd;
    text-decoration: none;
}

ul.contact-social-footer {
    list-style: none;
    display: table;
    margin: 15px auto 0 auto;
    padding: 0;
}

ul.contact-social-footer li {
    display: inline-block;
    margin: 0 20px;
}

ul.contact-social-footer li:last-child {
    border: 0;
}

ul.contact-social-footer li a {
    color: #FFF;
    text-decoration: none;
}

ul.contact-social-footer li a:hover {
    color: #edeef0;
}

ul.contact-social-footer li a span {
    width: 60px;
    height: 60px;
    display: table;
    background-size: cover;
    background-position: center;
}

ul.contact-social-footer li a.facebook span {
    background-image: url('../../../../images/facebook.png');
}

ul.contact-social-footer li a.instagram span {
    background-image: url('../../../../images/instagram.png');
}

ul.contact-social-footer li a.whatsapp span {
    background-image: url('../../../../images/whatsapp.png');
}

ul.contact-social-footer li a.phone span {
    background-image: url('../../../../images/phone.png');
}

ul.contact-social-footer li a.maps span {
    background-image: url('../../../../images/maps.png');
}

.moduletable-sociais #contact-social-footer {
    float: none;
}

.moduletable-sociais ul.contact-social-footer {
    margin: auto;
}

.moduletable-sociais ul.contact-social-footer li a {
    color: #dfdfdf;
}

.moduletable-sociais ul.contact-social-footer li a:hover {
    color: #FFF;
}

#contact-social-footer .certificado {
    float: left;
    margin-right: 40px;
}

@media screen and (max-width: 1024px) {
    ul.contact-social-footer li a span {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 768px) {
    ul.contact-social-footer li {
        margin: 0 5px;
    }

    ul.contact-social-footer li a i {
        font-size: 30px;
        padding: 4px 0;
        vertical-align: middle;
    }

    ul.contact-social-footer li a b {
        display: none;
    }

    ul.contact-social-footer {
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    ul.contact-social-footer li a span {
        margin: 0;
    }

    ul.contact-social-footer li {
        padding: 3px 5px;
        border: 0;
    }

}